<div id="passwordReset_view" ng-controller="PasswordresetCtrl">
    <div ng-if="complete == false">
        <form role="form" ng-if="authenticated != true" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" type="text" ng-model="model.email" placeholder="Email" class="form-control" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
            <button ng-hide="authenticated" type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        <p ng-if="authenticated">You are already logged in!  You don't need to reset your password.</p>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">You should receive an email shortly with instructions on how to reset your account password.</div>
    </div>
</div>
